<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethnicity</title>

</head>

<body>
    <header>
        <div class="topnav">
            <a href=".">Home</a>
            <a href="datatype">DataType</a>
            <a href="ethnicity">Ethnicity</a>
            <a href="food">Food</a>
            <a href="nutrient">Nutrient</a>
            <a href="purchases">Purchases</a>
            <a href="expenditures">Expenditures</a>
            <a href="intakes">Intakes</a>
        </div>
    </header>

    <div>
        <h1>List of Ethnicity</h1>

        <%if (ethnicity.length == 0) { %>

        <h1>NO RECORDS FOUND !!!</h1>

        <% } else { %>

        <h3>These are the Ethnicity records: (<%= ethnicity.length %>)</h3>

        <form action="datatype" method="GET">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Ethnicity</th>
                </tr>

                <% ethnicity.forEach(function(row){ %>
                <tr>
                    <td><%= row.ID %></td>
                    <td><%= row.Ethnicity %></td>
                </tr>
                <% }) %>

            </table>
        </form>

        <% } %>
    </div>

</body>

</html>