<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

</head>

<body>
    <header>
        <div class="topnav">
            <a href=".">Home</a>
            <a href="datatype">DataType</a>
            <a href="ethnicity">Ethnicity</a>
            <a href="food">Food</a>
            <a href="nutrient">Nutrient</a>
            <a href="purchases">Purchases</a>
            <a href="expenditures">Expenditures</a>
            <a href="intakes">Intakes</a>
        </div>
    </header>

    <div>
        <h1>Welcome to the DB & ADT Midterm Project</h1>

        <h3>This site will provide nutritional consumption data :</h3>

        <p>
            The user can perform queries on nutritional data from the UK GOV.
        </p>

        <p>
            Each of the following menu options will present the data for the final normalized tables :
        </p>

        <ul>
            <li>DataType</li>
            <li>Ethnicity</li>
            <li>Food</li>
            <li>Nutrient</li>
            <li>Purchases</li>
            <li>Expenditures</li>
            <li>Intakes</li>
        </ul>
    </div>

</body>

</html>